.controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.controls select,
.controls button {
  background-color: #373a2d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
}

#sort{
  background-color: #068715;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 10px 20px;
  width: 200px;
}
.slider-container label {
  margin-bottom: 8px;
  font-size: 1.1rem;
  color: #2d2d3a;
  font-weight: 700;
}

.slider-container input[type="range"] {
  width: 400px;
  height: 8px;
  border-radius: 5px;
  background: #444454;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
  margin: 10px 0;
}

.controls select:hover,
.controls button:hover {
  background-color: #4e4ed4;
}

.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  width: 500px;
}



@media (max-width: 768px) {
  .slider-container input[type="range"] {
    width: 300px;
  }

  .slider-container {
    width: 300px;
  }
}