.visualizer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 450px;
  margin: 40px auto;
  width: 95%;
  background-color: #101018;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.bar {
  flex: 1;
  margin: 0 1px;
  border-radius: 4px;
  transition: height 0.2s ease, background-color 0.2s;
}

.bar.unsorted {
  background: orange;
}

.bar.sorted {
  background: linear-gradient(180deg, #00ff7f, #008000);
}


@media (max-width: 768px) {
  .visualizer {
    height: 300px;
    padding: 5px;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .bar {
    flex: 0 0 6px; /* Reduce width per bar for small screens */
    margin: 0 0.5px;
  }
}
